
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
}
.content{
    width: 80%;
    margin: 100px auto;
    border: 1px solid #646464;
    height: 700px;
    padding: 20px;
    overflow: hidden;
}

.header-content{
    margin-bottom: 20px;
    overflow: hidden;
}
.currentYD{
    float: left;
}
.currentYD span{
    font-size: 34px;
    font-weight: 600;
    color: #000000;
}
.nav-month{
    float: right;
}
span.privous ,span.next{
    font-size: 18px;
    color: #646464;
    margin-right: 30px;
    text-decoration: underline;
}
span.privous:hover ,span.next:hover{
    cursor: pointer;
    color: #d3d1d1;
}
.table-calendar table{
    margin: 0;
    padding: 0;
    width: 100%;
}
.table-calendar table tr td{
    width: 14.2%;
    text-align: center;
}
.table-calendar table tr.head td{
    height: 45px;
}
.table-calendar table tr.number td{
    height: 25px;
}
.table-calendar table tr.anphabe td{
    height: 60px;
    color: #000000;
}
.table-calendar table tr.anphabe td.first{
    color:  #B15968;
}
.table-calendar table tr.anphabe td.mid{
    color:  #505050;
}
.table-calendar table tr.anphabe td.last{
    color:   #4666A4;
}
.table-calendar table td.first{
    background-color: #FEF4F3;
    color:  #B15968;
}
.table-calendar table td.mid{
    background-color: #EFEEF6;
    color:  #505050;
}
.table-calendar table td.last{
    background-color: #EBF3FE;
    color:  #4666A4;
}
.table-calendar table td.color-s{
    background-color: #EA7B77;
}
.table-calendar table td.color-a{
    background-color: #32B778;
}

.table-calendar table td.color-b{
    background-color: #039BE6;
}

.table-calendar table td.color-c{
    background-color: #7986CC;
}
.table-calendar td.color-d{
    background-color:#616161;
}
.table-calendar table td:hover{
    cursor: pointer;
}

.table-calendar table td.empty:hover{
    cursor: default;
}
/* .table-calendar td.holiday:before{
    content: "";
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    border: 1px solid #0a92ec;
   
}
.table-calendar td.holiday_hotel::after{
    content: "";
    display: block;
    margin: auto;
    width: 70%;
    height: 70%;
    border: 1px solid #b620a9;
} */